{% load crispy_forms_tags %}
{% load mathfilters %}
<style>
  .expand_modal {
    max-width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 100000;
  }
</style>

<div class="card">
  <div class="card-header">
    <div class="card-title">
      <b class="font-weight-bold text-center"> بونات شركة: {{ company }}</b>
        <span class="card-tools" style="float: left">
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="maximize"
        onclick="
            if (document.getElementById('expand_modal').value === '0'){
                document.getElementById('expand_modal').value = 1;
                document.getElementById('action_modal2').className = 'modal-dialog expand_modal';
                document.getElementById('sub_modal2').className = 'modal-dialog modal-xl expand_modal';
            }
            else {
                document.getElementById('expand_modal').value = 0;
                document.getElementById('action_modal2').className = 'modal-dialog';
                document.getElementById('sub_modal2').className = 'modal-dialog modal-xl';
            }

            "
    >
        <input type="number" value="0" id="expand_modal" hidden />
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-dismiss="modal">
        <i class="fas fa-times"></i>
      </button>
    </span>
    </div>
  </div>

   <div class="row">
    <div class="col-12">
            <div class="card">
                <div class="card-body">

                     <div class="col-lg-12 col-md-12">
                        <div class="card alert alert-success">
                            <div class="row ">
                                  <h3 class="mb-0 ">
                                 <a href="#sheet_data"  data-toggle="collapse">
                                     <span class="font-weight-bold"><i class="fas fa-info-circle"></i> إجماليات بونات شركة: {{ company }}  </span>
                                 </a>
                            </h3>
                            </div>

                            <div class="row collapse mt-3 show text-center" id="sheet_data">
                                <div class="col-lg-12 ">
                                    <div class="row">
                                        <div class="col-md-2"><span class="font-weight-bold"><i class="fas fa-quote-left"></i> عدد البونات </span>
                                            <br><span class="text-dark">
                                                {% if company_bon.count > 0 %}
                                                {{ company_bon.count }}
                                                {% else %}
                                                0.0
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="col-md-2"><span class="font-weight-bold"><i class="fas fa-quote-left"></i> عدد الشيتات </span>
                                            <br><span class="text-dark">
                                                {% if company_sheet > 0 %}
                                                {{ company_sheet }}
                                                {% else %}
                                                0.0
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="col-md-2"><span class="font-weight-bold"><i class="fas fa-calculator"></i> إجمالي الكميات </span>
                                            <br><span class="text-dark">
                                                {% if company_quantity > 0 %}
                                                {{ company_quantity }}
                                                {% else %}
                                                0.0
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="col-md-2"><span class="font-weight-bold"><i class="fas fa-money-bill"></i> الإجمالي </span>
                                            <br><span class="text-dark">
                                                {% if company_prices > 0 %}
                                                {{ company_prices }}
                                                {% else %}
                                                0.0
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="col-md-2"><span class="font-weight-bold"><i class="fas fa-money-bill"></i> إجمالي العهد </span>
                                            <br><span class="text-dark">
                                                {% if company_loads > 0 %}
                                                {{ company_loads }}
                                                {% else %}
                                                0.0
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="col-md-2"><span class="font-weight-bold"><i class="fas fa-money-bill-wave"></i> حساب المورد </span>
                                            <br><span class="text-dark">
                                                {% if company_prices|sub:company_loads %}
                                                {{ company_prices|sub:company_loads }}
                                                {% else %}
                                                0.0
                                                {% endif %}
                                            </span>
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-rep-plugin">
                        <div class="table-bordered mb-0 fixed-solution mb-0" data-pattern="priority-columns">
                            <div class="table-responsive" style="max-height: 280px">
                            <table id="tech-companies-1" class="table table-centered">
                                <thead class="bg-dark text-light">
                                <tr>
                                    <th>#</th>
                                    <th>التاريخ</th>
                                    <th>الشركة</th>
                                    <th>الموقع</th>
                                    <th>الكمية</th>
                                    <th>السعر</th>
                                    <th>الاجمالي</th>
                                    <th>العهدة</th>
                                    <th>الحساب النهائي</th>
                                    <th>رقم البون</th>
                                    <th>رقم الشاحنة</th>
                                    <th>صاحب الشاحنة</th>
                                    <th>الشيت</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for x in company_bon %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        {{x.date|date:'Y-m-d'}}
                                    </td>
                                    <td>
                                        {{x.company.name}}
                                    </td>
                                    <td>
                                        {{x.geo_place.name}}
                                    </td>
                                    <td>
                                        {{ x.bon_quantity }}
                                    </td>
                                    <td>
                                        {{ x.bon_price }}
                                    </td>
                                    <td>
                                        {{ x.bon_total }}
                                    </td>
                                    <td>
                                        {{ x.load_value }}
                                    </td>
                                    <td>
                                        {{ x.bon_total|sub:x.load_value }}
                                    </td>
                                    <td>
                                        {{x.bon_number}}
                                    </td>
                                    <td>
                                        {{x.car_number}}
                                    </td>
                                    <td>
                                        {{ x.car_owner }}
                                    </td>
                                    <th><a href="{% url 'Engineering:SheetDetail' x.sheet.id %}" target="_blank"><i class="fas fa-expand-alt"></i> {{ x.sheet.title}} </a></th>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
