{% load crispy_forms_tags %}
<style>
  .expand_modal {
    max-width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 100000;
  }
</style>

<div class="card">
  <div class="card-header">
    <div class="card-title">
      <b class="font-weight-bold text-center"> أرباحي من موقع: {{ geo }}</b>
        <span class="card-tools" style="float: left">
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="maximize"
        onclick="
            if (document.getElementById('expand_modal').value === '0'){
                document.getElementById('expand_modal').value = 1;
                document.getElementById('action_modal2').className = 'modal-dialog expand_modal';
                document.getElementById('sub_modal2').className = 'modal-dialog modal-xl expand_modal';
            }
            else {
                document.getElementById('expand_modal').value = 0;
                document.getElementById('action_modal2').className = 'modal-dialog';
                document.getElementById('sub_modal2').className = 'modal-dialog modal-xl';
            }

            "
    >
        <input type="number" value="0" id="expand_modal" hidden />
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-dismiss="modal">
        <i class="fas fa-times"></i>
      </button>
    </span>
    </div>
  </div>

   <div class="row">
    <div class="col-12">
            <div class="card">
                <div class="card-body">

                     <div class="col-lg-12 col-md-12">
                        <div class="card alert alert-success">
                            <div class="row ">
                                  <h3 class="mb-0 ">
                                 <a href="#sheet_data"  data-toggle="collapse" >
                                     <span class="font-weight-bold"><i class="fas fa-info-circle"></i> إجماليات أرباحي من موقع: {{ geo }}  </span>
                                 </a>
                            </h3>
                            </div>

                            <div class="row collapse mt-3 show text-center" id="sheet_data">
                                <div class="col-lg-12 ">
                                    <div class="row">
                                        <div class="col-md-2"><span class="font-weight-bold"><i class="fas fa-quote-left"></i> عدد البونات </span>
                                            <br><span class="text-dark">
                                                {% if geo_bons > 0 %}
                                                {{ geo_bons }}
                                                {% else %}
                                                0.0
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="col-md-2"><span class="font-weight-bold"><i class="fas fa-calculator"></i> إجمالي الكميات </span>
                                            <br><span class="text-dark">
                                                {% if geo_quantity > 0 %}
                                                {{ geo_quantity }}
                                                {% else %}
                                                0.0
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="col-md-3"><span class="font-weight-bold"><i class="fas fa-money-bill"></i> إجمالي حساب موردين الموقع </span>
                                            <br><span class="text-dark">
                                                {% if geo_prices > 0 %}
                                                {{ geo_prices }}
                                                {% else %}
                                                0.0
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="col-md-2"><span class="font-weight-bold"><i class="fas fa-money-bill"></i> إجمالي حسابي </span>
                                            <br><span class="text-dark">
                                                {% if geo_total > 0 %}
                                                {{ geo_total }}
                                                {% else %}
                                                0.0
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="col-md-3"><span class="font-weight-bold"><i class="fas fa-money-bill-wave"></i> اجمالي الربح </span>
                                            <br><span class="text-dark">
                                                {% if geo_profit%}
                                                {{ geo_profit}}
                                                {% else %}
                                                0.0
                                                {% endif %}
                                            </span>
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-rep-plugin">
                        <div class="table-responsive table-bordered mb-0 fixed-solution mb-0" data-pattern="priority-columns">
                            <div class="table-responsive" style="max-height: 280px">
                            <table id="tech-companies-1" class="table table-centered">
                                <thead class="bg-dark text-light">
                                <tr>
                                    <th>#</th>
                                    <th>الشهر</th>
                                    <th>عدد البونات</th>
                                    <th>الكميات</th>
                                    <th>حساب موردين الموقع</th>
                                    <th>حسابي</th>
                                    <th>الأرباح</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for x in geo_months_profit %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ x.date__year}}-{{ x.date__month }}</td>
                                    <td>{{ x.bons }}</td>
                                    <td>{{ x.quantity }}</td>
                                    <td>{{ x.total }}</td>
                                    <td>{{ x.overall }}</td>
                                    <td>{{ x.profit }}</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
