{% load crispy_forms_tags %}
<style>
  .expand_modal {
    max-width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 100000;
  }
</style>

<div class="card">
  <div class="card-header">
    <div class="card-title">
      <b class="font-weight-bold text-center"> {{ title }}</b>
        <span class="card-tools" style="float: left">
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="maximize"
        onclick="
            if (document.getElementById('expand_modal').value === '0'){
                document.getElementById('expand_modal').value = 1;
                document.getElementById('action_modal2').className = 'modal-dialog expand_modal';
                document.getElementById('sub_modal2').className = 'modal-dialog modal-xl expand_modal';
            }
            else {
                document.getElementById('expand_modal').value = 0;
                document.getElementById('action_modal2').className = 'modal-dialog';
                document.getElementById('sub_modal2').className = 'modal-dialog modal-xl';
            }

            "
    >
        <input type="number" value="0" id="expand_modal" hidden />
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-dismiss="modal">
        <i class="fas fa-times"></i>
      </button>
    </span>
    </div>
  </div>

   <div class="row">
    <div class="col-12">
            <div class="card">
                <div class="card-body">

                     <div class="col-lg-12 col-md-12">
                        <div class="card alert alert-success">
                            <div class="row ">
                                  <h3 class="mb-0 ">
                                 <a href="#sheet_data"  data-toggle="collapse" >
                                     <span class="font-weight-bold"><i class="fas fa-info-circle"></i> شيتات المورد: {{ supplier }}  </span>
                                 </a>
                            </h3>
                            </div>

                            <div class="row collapse mt-3 show" id="sheet_data">
                                <div class="col-lg-12 ">
                                    <div class="row">

                                        <div class="col-md-4"><span class="font-weight-bold"><i class="fas fa-quote-left"></i> اسم المورد:  </span>
                                            <span class="text-dark">{{ supplier.name }}</span>
                                        </div>

                                        <div class="col-md-4"><span class="font-weight-bold"><i class="fas fa-phone"></i> رقم الهاتف:  </span>
                                            <span class="text-dark">{{ supplier.phone }}</span>
                                        </div>

                                        <div class="col-md-4"><span class="font-weight-bold"><i class="fas fa-calendar-alt"></i> تاريخ الاضافة:  </span>
                                            <span class="text-dark">{{ supplier.created|date:'Y-m-d'}}</span>
                                        </div>
                                    </div>

                                    <div class="row">

                                    {% if request.user.is_superuser %}
                                        <div class="col-md-4"><span class="font-weight-bold"><i class="fas fa-money-bill-wave"></i> اجمالي الربح:  </span>
                                            <span class="text-dark">
                                                {% if supplier_profit%}
                                                {{ supplier_profit}}
                                                {% else %}
                                                0.0
                                                {% endif %}
                                            </span>
                                        </div>
                                    {% endif %}
                                        <div class="col-md-4">
                                            <span> <a href="{% url 'Engineering:SupplierUpdate' supplier.id %}" class="mr-3 text-info" data-toggle="modal" data-target="#action_modal" data-original-title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a></span>
                                            <span> <a href="{% url 'Engineering:SupplierDelete' supplier.id  %}" class="text-danger" data-target="#action_modal" data-toggle="modal" title="" data-original-title="Delete"><i class="mdi mdi-close font-size-18"></i></a></span>
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-rep-plugin">
                        <div class="table-responsive table-bordered mb-0 fixed-solution mb-0" data-pattern="priority-columns">
                            <table id="tech-companies-1" class="table table-striped">
                                <style>
                                     .table-responsive{
                                        max-height: 400px;
                                     }
                                     .table-responsive::-webkit-scrollbar{
                                        display: none;
                                     }
                                 </style>
                                <thead class="bg-dark text-light">
                                <tr>
                                    <th>#</th>
                                    <th>تاريخ الاضافة</th>
                                    <th>عنوان الشيت</th>
                                    <th>المورد</th>
                                    <th>أرباح الشيت</th>
                                    <th>المستخدم</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for x in supplier_sheet %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ x.date|date:'Y-m-d'}}</td>
                                    <th><a href="{% url 'Engineering:SheetDetail' x.id %}"><i class="fas fa-expand-alt"></i> {{ x.title }}</a></th>
                                    <td>{{ x.supplier }}</td>
                                    <td>{{ x.profit }}</td>
                                    <td>{{ x.admin }}</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
