<div class="table-responsive">
  <table
    class="table table-centered table-dark table-nowrap text-center"
  >
    <thead style="background-color: #0c2b4b">
      <tr>
        <th>م</th>
        <th>التاريخ</th>
        <th>اليوم</th>
      <th>الكمية بالقطعة</th>
          <th>فئة السعر</th>
          <th>الإجمالي</th>
        <th>المسئول</th>
        <th><i class="fas fa-cogs"></i></th>
      </tr>
    </thead>
    <tbody>
        {% if production %}
          {% for x in production %}
          <tr style="text-align: center">
              <td>{{forloop.counter}}</td>
              <td>
              <span class="badge badge-danger"
                  >
                  {{x.date|date:'Y-m-d'}}</span
              >
              </td>
            <td>
               {{x.day}}
              </td>
              <td>
               {{x.quantity}}  
              </td>
                <td>
               {{x.price}}
              </td>
                <td>
               {{x.total}}
              </td>
              <td>{{x.admin}}</td>
              {% if request.user.is_superuser %}
              <td>
              <!--
{#              <a#}
{#                  href="{% url 'Workers:WorkerProductionUpdate' x.id %}"#}
{#                  class="mr-3 text-warning"#}
{#                  data-toggle="modal"#}
{#                  data-target="#action_modal"#}
{#                  data-original-title="Edit"#}
{#                  ><i class="mdi mdi-pencil font-size-18"></i#}
{#              ></a>#} -->
              <a
                  onclick="
                          var result = confirm('هل أنت متأكد من الحذف؟');
                            if (result) {
                                WorkerProductionDelete('{{x.id}}')
                            }
                          "
                  style="cursor: pointer"
                  class="text-danger"
                  ><i class="mdi mdi-close font-size-18"></i
              ></a>
              </td>
              {% endif %}
              
          </tr>
          {% endfor %}
        {% endif %}
    </tbody>
  </table>
</div>

<div style="margin-top: 10px">
  <div class="row">
   
    <div class="col-lg-6 flex-center">
      <div class="card mini-stats-wid mb-0">
        <div class="card-body bg-danger">
          <div class="d-flex flex-wrap">
            <div class="">
              <h5 class="mb-2 text-light">
                اجمالي الإنتاج 
              </h5>
              <h3 class="mb-0 text-dark">
                
                {% if total_production %}
                {{total_production}} قطعة
                {% else %}
                0 قطعة
                {% endif %}
              
              </h3>
            </div>

            <div class="avatar-sm ml-auto">
              <div
                class="avatar-title bg-light rounded-circle text-dark font-size-20"
              >
              <i class="fas fa-calculator"></i>               
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    

    <div class="col-lg-6 flex-center">
      <div class="card mini-stats-wid mb-0">
        <div class="card-body bg-danger">
          <div class="d-flex flex-wrap">
            <div class="">
              <h5 class="mb-2 text-light">
                اجمالي الحساب المستحق
              </h5>
              <h3 class="mb-0 text-dark">
                
                {% if total %}
                  {{total}} جنية 
                {% else %} 
                  0 جنية
                {% endif %}

              </h3>
            </div>

            <div class="avatar-sm ml-auto">
              <div
                class="avatar-title bg-light rounded-circle text-dark font-size-20"
              >
              <i class="fas fa-dollar-sign"></i>                
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>