{% load crispy_forms_tags %}
<style>
  .expand_modal {
    max-width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 100000;
  }
</style>

<div class="card">
  <div class="card-header">
    <div class="card-title">
        <b class="font-weight-bold text-center"> {{ title }}</b>
        <span class="card-tools" style="float: left">
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="maximize"
        onclick="
            if (document.getElementById('expand_modal').value === '0'){
                document.getElementById('expand_modal').value = 1;
                document.getElementById('action_modal2').className = 'modal-dialog expand_modal';
                document.getElementById('sub_modal2').className = 'modal-dialog modal-xl expand_modal';
            }
            else {
                document.getElementById('expand_modal').value = 0;
                document.getElementById('action_modal2').className = 'modal-dialog';
                document.getElementById('sub_modal2').className = 'modal-dialog modal-xl';
            }

            "
    >
        <input type="number" value="0" id="expand_modal" hidden />
        <i class="fas fa-expand"></i>
      </button>
        <button type="button" class="btn btn-tool" data-dismiss="modal">
        <i class="fas fa-times"></i>
      </button>
    </span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="tab-pane" id="processing" role="tabpanel">
            <div class="row">
              <div class="col-lg-12">
                <div class="bg-dark">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="p-3">
                        <h3
                          class="text-center font-weight-bold"
                          style="color: white"
                        >
                        <i class="fas fa-calendar-check"></i> {{title}}
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>

                {% if obj.deleted == 0 %}
                <div class="table-responsive" id="order_list">
                  <table class="table table-nowrap mb-0">
                    <thead>
                      <form>
                        <tr>
                          <th
                            class="col-lg-2 col-xl-2 col-md-2"
                            style="width: 20%"
                          >
                            {{form.date|as_crispy_field}}
                          </th>

                            <th
                            class="col-lg-2 col-xl-2 col-md-2"
                            style="width: 20%"
                          >
                            {{form.day|as_crispy_field}}
                          </th>

                          <th
                            class="col-lg-2 col-xl-2 col-md-2"
                            style="width: 30%"
                          >
                            {{form.quantity|as_crispy_field}}
                          </th>

                            <th
                            class="col-lg-2 col-xl-2 col-md-2"
                            style="width: 30%"
                          >
                            {{form.price|as_crispy_field}}
                          </th>

                            <th
                            class="col-lg-2 col-xl-2 col-md-2"
                            style="width: 30%"
                          >
                            {{form.total|as_crispy_field}}
                          </th>
                          
                          <th class="col-lg-2 col-xl-2 col-md-2">
                            <button
                              style="width: 100%"
                              onclick="workProductionCreate()"
                              class="btn btn-success"
                            >
                            <i class="fas fa-plus-circle"></i>
                              اضافة
                            </button>
                          </th>
                        
                        </tr>
                      </form>
                    </thead>
                  </table>
                </div>
                {% endif %}
                <style>
                  .table-responsive {
                    max-height: 500px;
                  }
                  .table-responsive::-webkit-scrollbar {
                    display: none;
                  }
                </style>

                <div class="card-body" id="production_worker">
                  <div class="table-responsive">
                    <table
                      class="table table-centered table-dark table-nowrap text-center"
                    >
                      <thead style="background-color: #0c2b4b">
                        <tr>
                          <th>م</th>
                          <th>التاريخ</th>
                          <th>اليوم</th>
                          <th>الكمية بالقطعة</th>
                          <th>فئة السعر</th>
                          <th>الإجمالي</th>
                          <th>المسئول</th>
                          <th><i class="fas fa-cogs"></i></th>
                        </tr>
                      </thead>
                      <tbody>
                          {% if production %}
                            {% for x in production %}
                            <tr style="text-align: center">
                                <td>{{forloop.counter}}</td>
                                <td>
                                <span class="badge badge-danger"
                                    >
                                    {{x.date|date:'Y-m-d'}}</span
                                >
                                </td>
                                <td>
                                 {{x.day}}
                                </td>
                                <td>
                                 {{x.quantity}}  
                                </td>
                                <td>
                                 {{x.price}}
                                </td>
                                <td>
                                 {{x.total}}
                                </td>
                                <td>{{x.admin}}</td>
                                {% if request.user.is_superuser %}
                                <td>
                                <!--
{#                                <a#}
{#                                    href="{% url 'Workers:WorkerProductionUpdate' x.id %}"#}
{#                                    class="mr-3 text-warning"#}
{#                                    data-toggle="modal"#}
{#                                    data-target="#action_modal"#}
{#                                    data-original-title="Edit"#}
{#                                    ><i class="mdi mdi-pencil font-size-18"></i#}
{#                                ></a>#} -->
                                <a
                                    onclick="
                                            var result = confirm('هل أنت متأكد من الحذف؟');
                                            if (result) {
                                                WorkerProductionDelete('{{x.id}}')
                                            }
                                            "
                                    style="cursor: pointer"
                                    class="text-danger"
                                    ><i class="mdi mdi-close font-size-18"></i
                                ></a>
                                </td>
                                {% endif %}
                                
                            </tr>
                            {% endfor %}
                          {% endif %}
                      </tbody>
                    </table>
                  </div>

                  <div style="margin-top: 10px">
                    <div class="row">
                     
                      <div class="col-lg-6 flex-center">
                        <div class="card mini-stats-wid mb-0">
                          <div class="card-body bg-danger">
                            <div class="d-flex flex-wrap">
                              <div class="">
                                <h5 class="mb-2 text-light">
                                  اجمالي الإنتاج 
                                </h5>
                                <h3 class="mb-0 text-dark">
                                  
                                  {% if total_production %}
                                  {{total_production}} قطعة
                                  {% else %}
                                  0 قطعة
                                  {% endif %}
                                
                                </h3>
                              </div>

                              <div class="avatar-sm ml-auto">
                                <div
                                  class="avatar-title bg-light rounded-circle text-dark font-size-20"
                                >
                                <i class="fas fa-calculator"></i>               
                                 </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      

                      <div class="col-lg-6 flex-center">
                        <div class="card mini-stats-wid mb-0">
                          <div class="card-body bg-danger">
                            <div class="d-flex flex-wrap">
                              <div class="">
                                <h5 class="mb-2 text-light">
                                  اجمالي الحساب المستحق
                                </h5>
                                <h3 class="mb-0 text-dark">
                                  
                                  {% if total %}
                                    {{total}} جنية 
                                  {% else %} 
                                    0 جنية
                                  {% endif %}
  
                                </h3>
                              </div>

                              <div class="avatar-sm ml-auto">
                                <div
                                  class="avatar-title bg-light rounded-circle text-dark font-size-20"
                                >
                                <i class="fas fa-dollar-sign"></i>                
                                 </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                    </div>
                  </div>
                </div>

                <script>
                    $( document ).ready(function() {
                        const weekday = ["الأحد","الإثنين","الثلاثاء","الأربعاء","الخميس","الجمعة","السبت"];
                        const date = $('#production_date').val();
                        const d = new Date(date);
                        let day = weekday[d.getDay()];
                        $('#production_day').val(day);
                    });
                    $('#production_date').on('keyup change', function (){
                        const weekday = ["الأحد","الإثنين","الثلاثاء","الأربعاء","الخميس","الجمعة","السبت"];
                        const date = $('#production_date').val();
                        const d = new Date(date);
                        let day = weekday[d.getDay()];
                        $('#production_day').val(day);
                   });
                </script>

                <script>
                    $('#worker_quantity').on('keyup change', function (){
                        const worker_price = $('#worker_price').val();
                        const worker_quantity = $('#worker_quantity').val();
                        let worker_total = (worker_price * worker_quantity);
                        $('#worker_total').val(worker_total.toFixed(1));
                   });

                    $('#worker_price').on('keyup change', function (){
                        const worker_price = $('#worker_price').val();
                        const worker_quantity = $('#worker_quantity').val();
                        let worker_total = (worker_price * worker_quantity);
                        $('#worker_total').val(worker_total.toFixed(1));
                   });

                    $("#worker_quantity").attr({
                       "value" : '',
                    });
                  function workProductionCreate() {
                    $.ajax({
                      type: "POST",
                      url: "{% url 'Workers:WorkerProductionCreate'  %}",
                      data: {
                        id: "{{object.id}}",
                        date: $("#production_date").val(),
                        day: $("#production_day").val(),
                        worker_quantity: $("#worker_quantity").val(),
                        worker_price: $("#worker_price").val(),
                        worker_total: $("#worker_total").val(),
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        dataType: "json",
                      },
                      success: function (response) {
                        /* response message */
                        if (response.msg == 1) {
                          $("#worker_quantity").val("");
                          $("#worker_total").val("");
                          $("#production_worker").html("&nbsp;").load("{% url 'Workers:WorkerProductions_div' object.id %}");
                          alert("تم الاضافة بنجاح");
                        } else {
                          alert("حاول مرة اخري / خطأ في البيانات");
                        }
                      },

                      failure: function () {},
                    });
                  }

                  function WorkerProductionDelete(proid) {
                    $.ajax({
                      type: "POST",
                      url: "{% url 'Workers:WorkerProductionDelete' %}",
                      data: {
                        worker_Production_id: proid,
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        dataType: "json",
                      },
                      success: function (data) {
                        /* response message */
                        $("#production_worker").html("&nbsp;").load("{% url 'Workers:WorkerProductions_div' object.id %}");
                        alert("تم الحذف بنجاح");
                      },

                      failure: function () {},
                    });
                  }
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
