{% extends "base.html" %}

{% block title %}
<title>مرتجع مبيعات</title>
{% endblock title %}

{% block css %}

<style>
    .sel .select2-selection__rendered {
        line-height: 31px !important;
        height: 37px !important;
    }
    .sel .select2-container .select2-selection--single {
        height: 37px !important;
        border: 1px solid lightgray;
    }
    .sel .select2-selection__arrow {
        height: 37px !important;
    }
</style>
{% endblock css %}


{% block main %}
{% load  crispy_forms_tags %}
    <div class="main-content">

      <div class="page-content">
          <div class="container-fluid">

                <div class="row">
                    <div class="col-12"> {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                            <i class="mdi mdi-check-all mr-2"></i>
                            {{ message|safe }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        {% endfor %}


                      {% endif %}
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">

                            <h3 class="mb-0 ">مرتجع مبيعات الفواتير المغلقة</h3>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="/">الرئيسية</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'Invoices:InvoiceList' %}">قائمة الفواتير</a></li>
                                    <li class="breadcrumb-item active">مرتجع مبيعات</li>
                                </ol>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- معلومات الطلب -->
                    <div class="col-lg-4 col-md-4">
                        <div class="card">

                            <div class="card-body ">
                                <div class="bg-danger">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class=" p-3">

                                                                        <h3 class="text-center font-weight-bold" style="color: white;">
                                                                            <i class="fas fa-info"></i> اختر فاتورة
                                                                        </h3>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="table-responsive">
                                                        <table class="table table-nowrap mb-0">
                                                            <tbody>
                                                                <form method="post" action="{% url 'Invoices:InvoiceReturnProduct' %}" id="return_form">
                                                                {% csrf_token %}
                                                                <tr>
                                                                    <td class="sel">
                                                                        <select class="form-control" id="invoice" name="invoice_id"
                                                                        onchange="$( '#return_form' ).submit()"
                                                                        >
                                                                            <option></option>
                                                                            {% for inv in invoices %}
                                                                            <option value="{{ inv.id }}" {% if invoice_id and invoice_id == inv.id %} selected {% endif %}>{{ inv.id }} || {{ inv.seller.name }} || {{ inv.date|date:'Y-m-d' }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                </form>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    {% if product %}
                                                    <div class="table-responsive">
                                                        <table class="table table-nowrap mb-0">
                                                            <tbody>
                                                                <tr>
                                                                    <th scope="row"><i class='bx bx-bookmark-minus bx-sm' style='color:darkred'></i> رقم الفاتورة :</th>
                                                                    <td>{{ invoice.id }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"> <i class='bx bx-calendar bx-sm' style='color:darkred'></i>تاريخ الفاتورة : </th>
                                                                    <td>{{ invoice.date|date:'Y-m-d' }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><i class='bx bx-user-pin bx-sm' style='color:darkred'></i>التاجر : </th>
                                                                    <td>{{ invoice.seller.name }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><i class='bx bx-note bx-sm' style='color:darkred'></i> ملاحظات :</th>
                                                                    <td>
                                                                        {% if invoice.comment %}
                                                                        {{ invoice.comment }}
                                                                        {% else %}
                                                                        ----------
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <th scope="row"><i class='bx bx-copy-alt bx-sm' style='color:green'></i> عدد الأصناف :</th>
                                                                    <td>
                                                                        {{count_product}} صنف
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><i class='fas fa-balance-scale' style='color:green'></i> اجمالي الكمية :</th>
                                                                    <td>
                                                                        {% if qu %}
                                                                       {{qu}}
                                                                       {% else %}
                                                                       0
                                                                       {% endif %}
                                                                       قطعة
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><i class='bx bx-dollar-circle bx-sm' style='color:green'></i> اجمالي المبلغ :</th>
                                                                    <td>
                                                                        {% if total %}
                                                                       {{total}}
                                                                       {% else %}
                                                                       0
                                                                       {% endif %}
                                                                       جنية
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><i class='bx bx-dollar-circle bx-sm' style='color:green'></i> قيمة الخصم :</th>
                                                                    <td>
                                                                        {% if invoice.discount %}
                                                                       {{invoice.discount}}
                                                                       {% else %}
                                                                       0.0
                                                                       {% endif %}
                                                                       جنية
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><i class='bx bx-dollar-circle bx-sm' style='color:green'></i> المطلوب للدفع :</th>
                                                                    <td>
                                                                        {% if invoice.overall %}
                                                                       {{invoice.overall}}
                                                                       {% else %}
                                                                       0.0
                                                                       {% endif %}
                                                                       جنية
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    {% endif %}

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-8">

                         <div class="card">
                            <div class="card-body">

                                <div class="tab-pane" id="processing" role="tabpanel">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="bg-danger">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="text-primary p-3">

                                                                    <h3 class="text-center font-weight-bold" style="color: white;">
                                                                        <i class="fas fa-layer-group"></i>
                                                                         بيانات الفاتورة المختارة
                                                                    </h3>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                    <div class="card-body">
                                                        {% if product %}
                                                        <div class="table-responsive">
                                                            <table class="table table-centered table-nowrap text-center">
                                                                <thead class="thead-light">
                                                                    <tr>
                                                                        <th>م</th>
                                                                        <th>الصنف</th>
                                                                        <th>سعر البيع</th>
                                                                        <th>الكمية</th>
                                                                        <th>الوحدة</th>
                                                                        <th>الاجمالي</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    {% if product %}
                                                                    {% for x in product  %}
                                                                    <tr style="text-align: center;">

                                                                        <td>{{forloop.counter}}</td>
                                                                        <td>
                                                                            {{x.item}}
                                                                        </td>
                                                                        <td>
                                                                            <span class="badge badge-pill badge-soft-success font-size-12 text-danger">
                                                                                <i class='bx bx-dollar'></i> {{ x.unit_price }}
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            {{x.quantity}}
                                                                        </td>
                                                                        <td>
                                                                            {{x.get_unit_display}}
                                                                        </td>
                                                                        <td>
                                                                            <span class="badge badge-pill badge-soft-success font-size-12 text-danger">
                                                                                <i class='bx bx-dollar'></i> {{ x.total_price }}
                                                                            </span>
                                                                        </td>
                                                                    </tr>

                                                                    {% endfor %}

                                                                    {% endif %}

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        {% endif %}
                                                    </div>

                                            </div>
                                        </div>

                                    </div>
                            </div>
                        </div>

                        {% if product %}
                        <div class="card">
                            <div class="card-body">

                                <div class="tab-pane" id="processing" role="tabpanel">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="bg-danger">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="text-primary p-3">

                                                                    <h3 class="text-center font-weight-bold" style="color: white;">
                                                                        <i class="fas fa-layer-group"></i>
                                                                         عمليات المرتجع
                                                                    </h3>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                    <div class="table-responsive" id="order_list">
                                                        <table class="table table-nowrap mb-0">
                                                            <thead>
                                                                <form method="post" action="{% url 'Invoices:ReturnProductInvoice' invoice_id %}?">
                                                                {% csrf_token %}
                                                                <tr>
                                                                    <th class="col-lg-3 col-xl-3 col-md-3">{{form.item|as_crispy_field}}</th>
                                                                    <th class="col-lg-2 col-xl-2 col-md-2">{{form.unit_price|as_crispy_field}}</th>
                                                                    <th class="col-lg-2 col-xl-2 col-md-2">{{form.quantity|as_crispy_field}} </th>
                                                                    <th class="col-lg-2 col-xl-2 col-md-2">{{form.unit|as_crispy_field}} </th>
                                                                    <th class="col-lg-2 col-xl-2 col-md-2">{{form.total_price|as_crispy_field}} </th>
                                                                    <th class="col-lg-2 col-xl-2 col-md-2">
                                                                        <button style="width: 100%" type="submit" class="btn btn-success">اضافة</button>
                                                                    </th>
                                                                </tr>
                                                                </form>
                                                            </thead>

                                                        </table>
                                                    </div>

                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table table-centered table-nowrap text-center">
                                                                <thead class="thead-light">
                                                                    <tr>
                                                                        <th>م</th>
                                                                        <th>الصنف</th>
                                                                        <th>سعر البيع</th>
                                                                        <th>الكمية</th>
                                                                        <th>الوحدة</th>
                                                                        <th>الاجمالي</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    {% if r_product %}
                                                                    {% for x in r_product  %}
                                                                    <tr style="text-align: center;">

                                                                        <td>{{forloop.counter}}</td>
                                                                        <td>
                                                                            {{x.item}}
                                                                        </td>
                                                                        <td>
                                                                            <span class="badge badge-pill badge-soft-success font-size-12 text-danger">
                                                                                <i class='bx bx-dollar'></i> {{ x.unit_price }}
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            {{x.quantity}}
                                                                        </td>
                                                                        <td>
                                                                            {{x.get_unit_display}}
                                                                        </td>
                                                                        <td>
                                                                            <span class="badge badge-pill badge-soft-success font-size-12 text-danger">
                                                                                <i class='bx bx-dollar'></i> {{ x.total_price }}
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <a href="{% url 'Invoices:InvoiceProductsUpdate' x.id x.invoice.id %}" class="mr-3 text-primary" data-toggle="modal" data-target="#action_modal" data-original-title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                                            <a href="{% url 'Invoices:InvoiceProductsDelete' x.id x.invoice.id  %}" class="text-danger" data-target="#action_modal" data-toggle="modal" title="" data-original-title="Delete"><i class="mdi mdi-close font-size-18"></i></a>
                                                                        </td>
                                                                    </tr>

                                                                    {% endfor %}

                                                                    {% endif %}

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                            </div>
                                        </div>

                                    </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
               </div>

          </div>
      </div>
  </div>
{% endblock main %}


{% block js %}

<script>
    $(document).ready(function() {
        $('#invoice').select2({
            placeholder: "اضغط لاختيار فاتورة",
            dir: "rtl",
        });
    });
</script>

<script>
    $( '#item' ).on('change keyup', function () {
        e = $('#item').val();
        i = '{{ invoice_id }}';
        l = [e, i];
        $.ajax({
            url: "{% url 'Invoices:get_item_return_price' %}?l=" + l,
            success: function (data) {
                $("#unit_price").val(data.product_price);
                $("#quantity").val(data.product_quantity);
                $("#unit").val(data.product_unit);
                $('#total_price').val(data.product_price*data.product_quantity*data.product_unit);
            }
        });
    });
</script>

<script>
    $( '#quantity' ).on('change keyup', function () {
        var quantity = parseFloat(this.value);
        var unit = parseFloat($('#unit').val());
        var unit_price = parseFloat($('#unit_price').val());
        $('#total_price').val(unit_price*quantity*unit);
    });

    $( '#unit' ).on('change keyup', function () {
        var unit = parseFloat(this.value);
        var quantity = parseFloat($('#quantity').val());
        var unit_price = parseFloat($('#unit_price').val());
        $('#total_price').val(unit_price*quantity*unit);
    });
</script>
{% endblock js %}