{% extends "base.html" %}
{% load mathfilters %}
{% block title %}
<title>
    {% if invoice.invoice_type == 1 %}
    فاتورة مبيعات
    {% elif invoice.invoice_type == 2 %}
    فاتورة مرتجع مبيعات
    {% elif invoice.invoice_type == 3 %}
    مبيعات قطاعي
    {% endif %}
    {{invoice.id}}</title>
{% endblock title %}

{% block css %}

<style>
    .sel .select2-selection__rendered {
        line-height: 31px !important;
        height: 37px !important;
    }
    .sel .select2-container .select2-selection--single {
        height: 37px !important;
        border: 1px solid lightgray;
    }
    .sel .select2-selection__arrow {
        height: 37px !important;
    }
</style>
{% endblock css %}
    

{% block main %}
{% load  crispy_forms_tags %}
    <div class="main-content">

      <div class="page-content">
          <div class="container-fluid">
           
                <div class="row">
                    <div class="col-12"> {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                            <i class="mdi mdi-check-all mr-2"></i>
                            {{ message|safe }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        {% endfor %}

            
                      {% endif %}
                    </div>
                   
                </div>
              
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            
                            <h3 class="mb-0 ">
                                {% if invoice.invoice_type == 1 %}
                                فاتورة مبيعات
                                {% elif invoice.invoice_type == 2 %}
                                فاتورة مرتجع مبيعات
                                {% elif invoice.invoice_type == 3 %}
                                مبيعات قطاعي
                                {% endif %}
                                {{invoice.id}}</h3>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="/">الرئيسية</a></li>
                                    {% if invoice.deleted == 0 %}
                                    <li class="breadcrumb-item"><a href="{% url 'Invoices:InvoiceList' invoice.invoice_type %}">قائمة الفواتير</a></li>
                                    {% else %}
                                    <li class="breadcrumb-item"><a href="{% url 'Invoices:InvoiceTrashList' invoice.invoice_type %}">قائمة الفواتير</a></li>
                                    {% endif %}

                                    <li class="breadcrumb-item active">
                                        {% if invoice.invoice_type == 1 %}
                                        فاتورة مبيعات
                                        {% elif invoice.invoice_type == 2 %}
                                        فاتورة مرتجع مبيعات
                                        {% elif invoice.invoice_type == 3 %}
                                        مبيعات قطاعي
                                        {% endif %}
                                        {{invoice.id}}</li>
                                </ol>
                            </div>

                            

                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- معلومات الطلب -->
                    <div class="col-lg-4 col-md-4">
                        <div class="card">

                            <div class="card-body ">
                                <div class="bg-primary">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class=" p-3">
                                                                    
                                                                        <h3 class="text-center font-weight-bold" style="color: white;">
                                                                            <i class="fas fa-info"></i> معلومات الفاتورة
                                                                        </h3>
                                                                </div>
                                                            </div>
                                                        
                                                        </div>
                                                    </div>
                                                    <div class="table-responsive">
                                                        <table class="table table-nowrap mb-0">
                                                            <tbody>
                                                                <tr>
                                                                    <th scope="row"><i class='bx bx-bookmark-minus bx-sm' style='color:#556ee6'  ></i> رقم الفاتورة :</th>
                                                                    <td>{{ invoice.id }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"> <i class='bx bx-calendar bx-sm' style='color:#556ee6'  ></i>تاريخ الفاتورة : </th>
                                                                    <td>{{ invoice.date|date:'Y-m-d' }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><i class='bx bx-user-pin bx-sm' style='color:#556ee6' ></i>
                                                                        {% if invoice.seller %}
                                                                        التاجر
                                                                        {% else %}
                                                                        العميل
                                                                        {% endif %}
                                                                        : </th>
                                                                    <td>
                                                                        {% if invoice.seller %}
                                                                        {{ invoice.seller.name }}
                                                                        {% else %}
                                                                        {{ invoice.customer }}
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><i class='bx bx-note bx-sm' style='color:#556ee6'  ></i> ملاحظات :</th>
                                                                    <td>
                                                                        {% if invoice.comment %}
                                                                        {{ invoice.comment }}
                                                                        {% else %}
                                                                        ----------
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row"><i class='bx bx-stats bx-sm' style='color:#556ee6' ></i>حالة الفاتورة : </th>
                                                                    <td>
                                                                    <span class="badge badge-warning" style="font-size: medium">
                                                                        {% if invoice.saved and invoice.close %}
                                                                        تم اغلاق الفاتورة
                                                                        <br>
                                                                        "حفظ نهائي"
                                                                        {% elif invoice.saved and not invoice.close %}
                                                                        حفظ مؤقت
                                                                        <br>
                                                                        "يمكنك الارجاع"
                                                                        {% else %}
                                                                        الفاتورة مفتوحة
                                                                        {% endif %}
                                                                    </span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                            </div>
                        </div>

                        {% if invoice.saved %}
                            {% if not invoice.close %}
                            <a href="{% url 'Invoices:InvoiceClose' invoice.id %}" data-toggle="modal" data-target="#action_modal" class="form-control btn btn-success" title="حفظ نهائي">
                                <i class="fa fa-save"></i> حفظ نهائي
                            </a>
                            <a style="margin-top: 10px" href="{% url 'Invoices:InvoiceBack' invoice.id %}" data-toggle="modal" data-target="#action_modal" class="form-control btn btn-info" title=" ارجاع من الحفظ">
                                <i class="fa fa-backspace"></i> ارجاع من الحفظ
                            </a>
                            {% endif %}
                        <a style="margin-top: 10px" href="{% url 'Invoices:PrintInvoice' invoice.id %}" target="_blank" class="form-control btn btn-outline-success" title=" طباعة الفاتورة">
                            <i class="fa fa-print"></i> طباعة الفاتورة
                        </a>
                        {% else %}
                            {% if product %}
                                <a href="{% url 'Invoices:InvoiceSave' invoice.id %}" data-toggle="modal" data-target="#action_modal" class="form-control btn btn-success" title="حفظ مؤقت">
                                    <i class="fa fa-save"></i> حفظ مؤقت
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>

                    {% if invoice.deleted == 0 %}
                    <div class="col-lg-8">

                         <div class="card">
                            <div class="card-body">

                                <div class="tab-pane" id="processing" role="tabpanel">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="bg-primary">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="text-primary p-3">
                                                                
                                                                    <h3 class="text-center font-weight-bold" style="color: white;">
                                                                        <i class="fas fa-layer-group"></i>
                                                                         أصناف الفاتورة
                                                                    </h3>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                                    {% if invoice.seller.agreement %}
                                                        <div class="text-center">
                                                        <h5 class="badge badge-warning" style="font-size: medium; margin-top: 3px">اتفاق مسبق: {{ invoice.seller.agreement }}</h5>
                                                        </div>
                                                    {% endif %}
                                                    {% if not invoice.saved %}
                                                    <div class="table-responsive" id="order_list">
                                                        <table class="table table-nowrap mb-0">
                                                            <thead>
                                                                <form method="post" action="{{action_url}}">
                                                                {% csrf_token %}
                                                                <tr>
                                                                    <th class="col-lg-3 col-xl-3 col-md-3">
                                                                        {{form.item|as_crispy_field}}
                                                                    </th>
                                                                    <th class="col-lg-2 col-xl-2 col-md-2">{{form.unit_price|as_crispy_field}}</th>
                                                                    <th class="col-lg-2 col-xl-2 col-md-2">{{form.quantity|as_crispy_field}} </th>
                                                                    <th class="col-lg-2 col-xl-2 col-md-2">{{form.unit|as_crispy_field}} </th>
                                                                    <th class="col-lg-2 col-xl-2 col-md-2">{{form.total_price|as_crispy_field}} </th>
                                                                    {% if not invoice.saved %}
                                                                    <th class="col-lg-2 col-xl-2 col-md-2">
                                                                        <button style="width: 100%" type="submit" class="btn btn-success">اضافة</button>
                                                                    </th>
                                                                    {% endif %}
                                                                </tr>
                                                                </form>
                                                            </thead>
                                                           
                                                        </table>
                                                    </div>
                                                    {% endif %}

                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table table-centered table-nowrap text-center">
                                                                <thead class="thead-light">
                                                                    <tr>
                                                                        <th>م</th>
                                                                        <th>الصنف</th>
                                                                        <th>سعر البيع</th>
                                                                        <th>الكمية</th>
                                                                        <th>الوحدة</th>
                                                                        <th>الاجمالي</th>
                                                                        {% if not invoice.saved %}
                                                                        <th></th>
                                                                        {% endif %}
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    
                                                                    {% if product %}
                                                                    {% for x in product  %}
                                                                    <tr style="text-align: center;">
                                                                        
                                                                        <td>{{forloop.counter}}</td>
                                                                        <td>
                                                                            {{x.item}}
                                                                        </td>
                                                                        <td>
                                                                            <span class="badge badge-pill badge-soft-success font-size-12 text-danger">
                                                                                <i class='bx bx-dollar'></i> {{ x.unit_price }}
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            {{x.quantity}}
                                                                        </td>
                                                                        <td>
                                                                            {{x.get_unit_display}}
                                                                        </td>
                                                                        <td>
                                                                            <span class="badge badge-pill badge-soft-success font-size-12 text-danger">
                                                                                <i class='bx bx-dollar'></i> {{ x.total_price }}
                                                                            </span>
                                                                        </td>
                                                                        {% if not invoice.saved %}
                                                                        <td>
                                                                            <a href="{% url 'Invoices:InvoiceProductsUpdate' x.id x.invoice.id %}" class="mr-3 text-primary" data-toggle="modal" data-target="#action_modal" data-original-title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                                            <a href="{% url 'Invoices:InvoiceProductsDelete' x.id x.invoice.id  %}" class="text-danger" data-target="#action_modal" data-toggle="modal" title="" data-original-title="Delete"><i class="mdi mdi-close font-size-18"></i></a>
                                                                        </td>
                                                                        {% endif %}
                                                                    </tr>
                
                                                                    {% endfor %}
                                                                   
                                                                    {% endif %}
                                                                        
                                                                    
                                                                 
                                                                    
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                       
                                                    </div>

                                            </div>
                                        </div>

                                    </div>
                            </div>
                        </div>

                        <!-- اجمالي  -->
                        <div class="row">
                            <!-- القطع -->
                                <div class="col-lg-4 col-md-4">
                                       <div class="card mini-stats-wid">
                                           <div class="card-body">
                                               <div class="media">
                                                   <div class="media-body">
                                                       <p class="text-muted font-weight-bold">عدد الأصناف</p>
                                                       <h4 class="mb-0">{{count_product}} صنف</h4>
                                                   </div>

                                                   <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                                       <span class="avatar-title">
                                                           <i class="bx bx-copy-alt bx-sm"></i>
                                                       </span>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                                 
                                <!-- الكمية -->
                               <div class="col-lg-4 col-md-4">
                                               <div class="card mini-stats-wid">
                                                   <div class="card-body">
                                                       <div class="media">
                                                           <div class="media-body">
                                                               <p class="text-muted font-weight-bold ">اجمالي الكمية </p>
                                                               <h4 class="mb-0">
                                                                   {% if qu %}
                                                                   {{qu}}
                                                                   {% else %}
                                                                   0
                                                                   {% endif %}
                                                                   قطعة
                                                               </h4>
                                                           </div>

                                                           <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                                               <span class="avatar-title">
                                                                <i class="fas fa-balance-scale"></i>
                                                               </span>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                               </div>
                               
                               <!-- المبلغ -->
                               <div class="col-lg-4 col-md-4">
                                               <div class="card mini-stats-wid">
                                                   <div class="card-body">
                                                       <div class="media">
                                                           <div class="media-body">
                                                               <p class="text-muted font-weight-bold ">اجمالي المبلغ </p>
                                                               <h4 class="mb-0">
                                                                   {% if total %}
                                                                   {{total}}
                                                                   {% else %}
                                                                   0
                                                                   {% endif %}
                                                                   جنية
                                                               </h4>
                                                           </div>

                                                           <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                                               <span class="avatar-title">
                                                                   <i class='bx bx-dollar-circle bx-sm'  ></i>
                                                               </span>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                               </div>
                       </div>

                        {% if invoice.saved %}
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                               <div class="card mini-stats-wid">
                                                   <div class="card-body">
                                                       <div class="media">
                                                           <div class="media-body">
                                                               <p class="text-muted font-weight-bold ">قيمة الخصم </p>
                                                               <h4 class="mb-0">
                                                                   {% if invoice.discount %}
                                                                   {{invoice.discount}}
                                                                   {% else %}
                                                                   0.0
                                                                   {% endif %}
                                                                   جنية
                                                               </h4>
                                                           </div>

                                                           <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                                               <span class="avatar-title">
                                                                   <i class='bx bx-dollar-circle bx-sm'  ></i>
                                                               </span>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                               </div>
                            <div class="col-lg-4 col-md-4">
                                               <div class="card mini-stats-wid">
                                                   <div class="card-body">
                                                       <div class="media">
                                                           <div class="media-body">
                                                               <p class="text-muted font-weight-bold ">المطلوب للدفع </p>
                                                               <h4 class="mb-0">
                                                                   {% if invoice.total %}
                                                                   {{invoice.total|sub:invoice.discount}}
                                                                   {% else %}
                                                                   0.0
                                                                   {% endif %}
                                                                   جنية
                                                               </h4>
                                                           </div>

                                                           <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                                               <span class="avatar-title">
                                                                   <i class='bx bx-dollar-circle bx-sm'  ></i>
                                                               </span>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                               </div>
                            {% if invoice.invoice_type == 1 or invoice.invoice_type == 2 %}
                            <div class="col-lg-4 col-md-4">
                                       <div class="card mini-stats-wid">
                                           <div class="card-body">
                                               <div class="media">
                                                   <div class="media-body">
                                                       <p class="text-muted font-weight-bold">حساب قديم</p>
                                                       <h4 class="mb-0">
                                                            {% if invoice.old_value < 0 %}
                                                                له
                                                                {{invoice.old_value|mul:-1}}
                                                              {% elif invoice.old_value > 0 %}
                                                                عليه
                                                                {{invoice.old_value}}
                                                              {% else %}
                                                                {{invoice.old_value}}
                                                              {% endif %}
                                                       </h4>
                                                   </div>

                                                   <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                                       <span class="avatar-title">
                                                           <i class='bx bx-dollar-circle bx-sm'  ></i>
                                                       </span>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                            {% endif %}
                        </div>

                        <div class="row">
                                {% if invoice.invoice_type == 1 %}
                                <!-- الكمية -->
                               <div class="col-lg-4 col-md-4">
                                               <div class="card mini-stats-wid">
                                                   <div class="card-body">
                                                       <div class="media">
                                                           <div class="media-body">
                                                               <p class="text-muted font-weight-bold ">قيمة مرتجع </p>
                                                              <h4 class="mb-0">{{invoice.return_value}} جنيه</h4>
                                                           </div>

                                                           <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                                               <span class="avatar-title">
                                                                <i class='bx bx-dollar-circle bx-sm'  ></i>
                                                               </span>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                               </div>

                               <!-- المبلغ -->
                               <div class="col-lg-4 col-md-4">
                                               <div class="card mini-stats-wid">
                                                   <div class="card-body">
                                                       <div class="media">
                                                           <div class="media-body">
                                                               <p class="text-muted font-weight-bold ">قيمة مدفوعة </p>
                                                              <h4 class="mb-0">{{invoice.paid_value}} جنيه</h4>
                                                           </div>

                                                           <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                                               <span class="avatar-title">
                                                                   <i class='bx bx-dollar-circle bx-sm'  ></i>
                                                               </span>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                               </div>
                                {% endif %}

                                {% if invoice.invoice_type == 1 or invoice.invoice_type == 2 %}
                                <div class="col-lg-4 col-md-4">
                                               <div class="card mini-stats-wid">
                                                   <div class="card-body bg-warning text-white">
                                                       <div class="media">
                                                           <div class="media-body">
                                                               <p class="text-muted font-weight-bold ">الحساب الحالي </p>
                                                              <h4 class="mb-0">
                                                                  {% if invoice.overall < 0 %}
                                                                      له
                                                                    {{invoice.overall|mul:-1}}
                                                                  {% elif invoice.overall > 0 %}
                                                                      عليه
                                                                    {{invoice.overall}}
                                                                  {% else %}
                                                                    {{invoice.overall}}
                                                                      جنيه
                                                                  {% endif %}
                                                              </h4>
                                                           </div>

                                                           <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                                               <span class="avatar-title">
                                                                   <i class='bx bx-dollar-circle bx-sm'  ></i>
                                                               </span>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                               </div>
                                {% endif %}
                       </div>

                        {% endif %}

                    </div>
                    {% endif %}
                </div>



                {% if is_paginated %}
                {% include "components/paginator.html" %}
                {% endif %}

              

          </div>
      </div>
  </div>
{% endblock main %}


{% block js %}

<script>
    $(document).ready(function() {
        $('#item').select2();
        $('#product').select2();
    });
</script>

<script>
    $( '#item' ).on('change keyup', function () {
        e = this.value;
        var unit = parseFloat($('#unit').val());
        var quantity = parseFloat($('#quantity').val());
        $.ajax({
            url: "{% url 'Invoices:get_item_price' %}?e=" + e,
            success: function (data) {
                $("#unit_price").val(data.product_price);
                $('#total_price').val(data.product_price*quantity*unit);
            }
        });
    });
</script>

<script>
    $( '#unit_price' ).on('change keyup', function () {
        var unit_price = parseFloat(this.value);
        var quantity = parseFloat($('#quantity').val());
        var unit = parseFloat($('#unit').val());
        $('#total_price').val(unit_price*quantity*unit);
    });

    $( '#quantity' ).on('change keyup', function () {
        var quantity = parseFloat(this.value);
        var unit = parseFloat($('#unit').val());
        var unit_price = parseFloat($('#unit_price').val());
        $('#total_price').val(unit_price*quantity*unit);
    });

    $( '#unit' ).on('change keyup', function () {
        var unit = parseFloat(this.value);
        var quantity = parseFloat($('#quantity').val());
        var unit_price = parseFloat($('#unit_price').val());
        $('#total_price').val(unit_price*quantity*unit);
    });
</script>
{% endblock js %}