{% load mathfilters %}
<style>
    .expand_modal {
        max-width: 100%;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        display: flex;
        position: fixed;
        z-index: 100000;
    }
</style>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <b class="font-weight-bold text-center"> {{ title }}</b>
            <span style="float: left">
            <button type="button" class="btn btn-tool" data-card-widget="maximize"
            onclick="
            if (document.getElementById('expand_modal').value === '0'){
                document.getElementById('expand_modal').value = 1;
                document.getElementById('action_modal2').className = 'modal-dialog expand_modal';
                document.getElementById('sub_modal2').className = 'modal-dialog modal-lg expand_modal';
            }
            else {
                document.getElementById('expand_modal').value = 0;
                document.getElementById('action_modal2').className = 'modal-dialog';
                document.getElementById('sub_modal2').className = 'modal-dialog modal-lg';
            }

            "
            >
                <input type="number" value="0" id="expand_modal" hidden>
                <i class="fas fa-expand"></i>
            </button>
            <button type="button" class="btn btn-tool" data-dismiss="modal">
                <i class="fas fa-times"></i>
            </button>
        </span>
        </div>
    </div>
            
               
                <div class="row">
                    
                    <div class="col-lg-12">
                        <div class="card" >
                            <div class="card-body">
                                <h3>فواتير المبيعات</h3>
                                <div class="table-responsive">
                                    <table class="table table-centered   ">
                                        <thead class="thead-light text-center">
                                            <tr>
                                                <th scope="col" >#</th>
                                                <th scope="col">
                                                    التاريخ
                                                </th>
                                                <th scope="col">
                                                    القيمة
                                                </th>
                                                <th scope="col">
                                                    الخصم
                                                </th>
                                                <th scope="col">
                                                    الاجمالي
                                                </th>
                                                <th scope="col">
                                                    قيمة مرتجع
                                                </th>
                                                <th scope="col">
                                                    حالة الفاتورة
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center ">
                                          {% for x in invoices  %}
                                          <tr>
                                            <td>
                                                {{forloop.counter}}
                                            </td>
                                            <td>
                                                <h5 class="font-size-16 ">
                                                    <a href="{% url 'Invoices:InvoiceDetail' x.id %}" target="_blank">{{x.date|date:'Y-m-d'}}</a>
                                                </h5>
                                                
                                            </td>
                                            <td>
                                                <h5 class="badge badge-danger font-size-16">
                                                    <i class="fas fa-dollar-sign"></i>
                                                    {{x.total}}
                                                </h5>
                                            </td>
                                            <td>
                                                <h5 class="badge badge-danger font-size-16">
                                                    <i class="fas fa-dollar-sign"></i>
                                                    {{x.discount}}
                                                </h5>
                                            </td>
                                            <td>
                                                <h5 class="badge badge-danger font-size-16">
                                                    <i class="fas fa-dollar-sign"></i>
                                                    {{x.total|sub:x.discount}}
                                                </h5>
                                            </td>
                                            <td>
                                                <h5 class="badge badge-danger font-size-16">
                                                    <i class="fas fa-dollar-sign"></i>
                                                    {{x.return_value}}
                                                </h5>
                                            </td>
                                            <td>
                                                <h4
                                                        {% if x.close %}
                                                        class="font-size-16 text-success"
                                                        {% elif x.saved %}
                                                        class="font-size-16 text-info"
                                                        {% else %}
                                                        class="font-size-16 text-warning"
                                                        {% endif %}
                                                >
                                                    {% if x.close %}
                                                        مغلقة "تم الحفظ بشكل نهائي"
                                                        {% elif x.saved %}
                                                        حفظ مؤقت "يمكنك الارجاع"
                                                        {% else %}
                                                        مفتوحة "غير محفوظة"
                                                        {% endif %}
                                                </h4>
                                                
                                            </td>
                                           
                                           
                                        </tr>
                                      
                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% if is_paginated %}
                                {% include "components/paginator.html" %}
                                {% endif %}
                
                            </div>
                        </div>
                        <div class="card" >
                            <div class="card-body">
                                <div class="table-responsive">
                                    <h3>فواتير مرتجع المبيعات</h3>
                                    <table class="table table-centered   ">
                                        <thead class="thead-light text-center">
                                            <tr>
                                                <th scope="col" >#</th>
                                                <th scope="col">
                                                    التاريخ
                                                </th>
                                                <th scope="col">
                                                    القيمة
                                                </th>
                                                <th scope="col">
                                                    الخصم
                                                </th>
                                                <th scope="col">
                                                    الاجمالي
                                                </th>
                                                <th scope="col">
                                                    حالة الفاتورة
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center ">
                                          {% for x in r_invoices  %}
                                          <tr>
                                            <td>
                                                {{forloop.counter}}
                                            </td>
                                            <td>
                                                <h5 class="font-size-16 ">
                                                    <a href="{% url 'Invoices:InvoiceDetail' x.id %}" target="_blank">{{x.date|date:'Y-m-d'}}</a>
                                                </h5>

                                            </td>
                                            <td>
                                                <h5 class="badge badge-danger font-size-16">
                                                    <i class="fas fa-dollar-sign"></i>
                                                    {{x.total}}
                                                </h5>
                                            </td>
                                            <td>
                                                <h5 class="badge badge-danger font-size-16">
                                                    <i class="fas fa-dollar-sign"></i>
                                                    {{x.discount}}
                                                </h5>
                                            </td>
                                            <td>
                                                <h5 class="badge badge-danger font-size-16">
                                                    <i class="fas fa-dollar-sign"></i>
                                                    {{x.total|sub:x.discount}}
                                                </h5>
                                            </td>
                                            <td>
                                                <h4
                                                        {% if x.close %}
                                                        class="font-size-16 text-success"
                                                        {% elif x.saved %}
                                                        class="font-size-16 text-info"
                                                        {% else %}
                                                        class="font-size-16 text-warning"
                                                        {% endif %}
                                                >
                                                    {% if x.close %}
                                                        مغلقة "تم الحفظ بشكل نهائي"
                                                        {% elif x.saved %}
                                                        حفظ مؤقت "يمكنك الارجاع"
                                                        {% else %}
                                                        مفتوحة "غير محفوظة"
                                                        {% endif %}
                                                </h4>

                                            </td>


                                        </tr>

                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% if is_paginated %}
                                {% include "components/paginator.html" %}
                                {% endif %}

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 text-center">
                                <p class="btn btn-success">
                                المبيعات:
                                {% if invoices_sum %}
                                {{ invoices_sum }}
                                {% else %}
                                0.0
                                {% endif %}
                                جنيه
                                </p>
                            </div>
                            <div class="col-md-6 text-center">
                                <p class="btn btn-danger">
                                مرتجع المبيعات:
                                {% if r_invoices_sum or invoices_r_sum %}
                                {{ r_invoices_sum|add:invoices_r_sum }}
                                {% else %}
                                0.0
                                {% endif %}
                                جنيه
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
</div>
               
                



